* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  width: 100vw;
  height: 100vh;
}

.notes-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.notes-input-container h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.notes-input-container .search {
  width: 10%;
  margin: 15px auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notes-input {
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.notes-input textarea {
  width: 100%;
  resize: none;
  border: none;
  padding: 10px;
  font-size: 17px;
}
.notes-input-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 80%;
}

.colors-input{
  display: flex;
  gap: 10px;

}

.color-label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.checkmark {
  display: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.color-label input {
  display: none;
}

.color-label input:checked + .checkmark {
  display: block;
  opacity: 0.5;
}

.notes-input-footer button {
  padding: 10px 20px;
  background-color: #10cd2f;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.notes-contaniner {
  width: 80%;
  height: 35vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.notes-color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.note {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  width: 100px;
  height: 50px;
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}